<?xml version="1.0" encoding="utf-8"?>
<!--日志级别及优先级：OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL-->
<!--logback配置类似-->
<Configuration status="WARN">
    <Properties>
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}.%method:%line - %msg%n</Property>
        <Property name="LOG_BASE_PATH">logs</Property>
    </Properties>
    <Appenders>
        <File name="testFile" fileName="logs/test.log" append="false">
            <PatternLayout pattern="${PATTERN}"/>
            <!--sohu-->
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} {%thread} %-5level %logger{50}[%line] - %msg%n"/>-->
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}:%p (%F:%L)- %m%n"/>-->
        </File>

        <!--每次程序重启都会清空日志，适合临时测试使用-->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
        <!--每天一个日志文件，文件大小>20MB时，产生新文件-1.log，每天的日志单独放一个文件夹并压缩-->
        <RollingFile name="stdoutRollingFile" fileName="logs/stdout.log" filePattern="logs/stdout-%d{yyyy-MM-dd}-%i.log">
            <!--过滤Logger传过来的日志，优先级为info-->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="200 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <!--每天可以生成30个文件，超出部分替换最后一个文件，同时其余文件名依次减一，删除第一个文件-->
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${LOG_BASE_PATH}" maxDepth="2">
                    <IfFileName glob="stdout-*.log.gz">
                        <IfLastModified age="30d">
                            <IfAny>
                                <IfAccumulatedFileSize exceeds="100 GB" />
                                <IfAccumulatedFileCount exceeds="10" />
                            </IfAny>
                        </IfLastModified>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="stderrRollingFile" fileName="logs/stderr.log" filePattern="logs/stderr-%d{yyyy-MM-dd}-%i.log.gz">
            <!--过滤Logger传过来的日志，优先级为error-->
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="200 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${LOG_BASE_PATH}" maxDepth="2">
                    <IfFileName glob="stderr-*.log.gz">
                        <IfLastModified age="30d">
                            <IfAny>
                                <IfAccumulatedFileSize exceeds="100 GB" />
                                <IfAccumulatedFileCount exceeds="10" />
                            </IfAny>
                        </IfLastModified>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <!--<AppenderRef ref="stdoutRollingFile"/>
            <AppenderRef ref="stderrRollingFile"/>-->
            <AppenderRef ref="console"/>
        </Root>
        <!--过滤spring、mybatis无用的debug日志-->
        <Logger name="org.springframework" level="info"/>
        <Logger name="org.mybatis" level="info"/>

    </Loggers>
</Configuration>